{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
 <!---<h2> Registration Form</h2>
 <form class="form-group">
  <label>UserName</label>
  <input type="text" name="" class="form-control"><br></br>
  <label>Password</label>
  <input type="Password" name="" class="form-control"><br></br>
  <label>Email</label>
  <input type="Email" name="" class="form-control"><br></br>
    <button>Submit</button>
    --->
    <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
    <div class="card">
    <div class="card-header bg bg-success ">Registration</div>
    <div class="card-body">
    <form action="/action_page.php">
    <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" placeholder="Enter email" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" placeholder="Enter password" id="pwd">
  </div>
    <div class="form-group">
    <label for="age">Age:</label>
    <input type="Number" class="form-control" placeholder="Enter Age" id="age">
  </div>  
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
    </div>
    </div>
    <div class="col-sm-4"></div>
    </div>
 </form>
</body>
</html>


