{% extends 'html/header.html' %}
{% block title %} Crud Operations{% endblock %}
{% block content %}
<div class="card col-md-8 mt-3 mx-2">
	    	<h3 class="p-3 bg-warning text-center text-light mt-3">User Details</h3>
	    	<table class="table table-hover table-borderless">
	    		<tr class="bg-dark text-light">
	    			<td>s.no</td>
	    			<td>Username</td>
	    			<td>Email id</td>
	    			<td>Age</td>
	    			<td>Actions</td>
	    		</tr>
	    		{% for i in info %}
	    		     <tr>
	    		     	<td>{{forloop.counter}}</td>
	    		     	<td>{{i.username}}</td>
	    		     	<td>{{i.email}}</td>
	    		     	<td>{{i.age}}</td>
	    		     	<td><a href="" class="btn btn-info">Update</a><a href="{%  url 'delete' i.id %}" class="btn btn-danger">Delete</a></td>
	    		     </tr>
                {% endfor %}
	    </div>
	</div>
</div>

{% endblock %}
